html {
  scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
     align-items: center; 
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #000000;
}
form {
  display: flex;
  align-items: center;
  gap: 10px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkBox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#textBox {
  flex: 3;
  min-width: 200px;
  background-color: #080909;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  height: 50px;
  resize: none;
}
textarea {
    resize: none;
}
#saveBt {
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #30a602;
  text-align: center;
  background-color: #13181f;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#deleteBt {
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
  margin: 0px;
  font-weight: 700;
  color: #ff5436;
  text-align: center;
  background-color: #13181f;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


#textBox::placeholder {
  color: #c3cdd4;
}

#reminderDatetime {
  flex: 1;            
  max-width: 180px;    
  background-color: #13181f;
  color: white;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.85rem;  
}