<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="head">
            <div class="icon">To-do List</div>
            <div class="info">
            <ul>
                <li><a class="aboutElements" href="https://github.com/aayush-aryan-0/ToDoWebApp/">GitHub</a></li>
                <li><a class="aboutElements" href="{{ url_for('login.logout') }}">Logout</a></li>
            </ul>
            </div>
            </div>
           
        </nav>

    </header>
    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="errors">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        {% for task in tasks %}

            {% include "taskbox.html" %}

        {% endfor %}
        <form class="mainBox" action="/add" method="POST">
        
            <button id="addBt" type="submit">Add</button>
        
        </form>
        
       
       
       
    </main>
    <footer>
        made by: Aayush Aryan<br>
        Contact Me:<a href="mailto:aayushar1601@gmail.com">aayushar1601@gmail.com</a>
    </footer>
    
</body>
</html>