<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleRegister.css') }}">
    <title>Register</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="errors">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    <div class="container">  
        <h2 class="word">Register</h2>

        <form action="{{ url_for('login.register') }}" method="post">
            <div>{{ msg }}</div><br>

            <input class="textbox" type="text" name="username" placeholder="Enter Username" required><br>
            <input class="textbox" type="password" name="password" placeholder="Enter Password" minlength="6"><br>
            <input class="textbox" type="email" name="email" placeholder="Enter Email" required><br>

            <button class="btn" type="submit">Register</button><br>
        </form>

        <p class="bottom">Already have an account? <a href="{{ url_for('login.login') }}">Login here</a></p>
    </div>

</body>
</html>