<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styleTask.css') }}">
</head>
<body>
  <section  >
    <div  >
        
        <form action="/save" method="POST">
          <input type="hidden" name="id" value="{{ task.id }}">
          
          <input type="checkbox" id="checkBox" name="done" value="True" {% if task.done %} checked {% endif %}/>
          
          <textarea placeholder="Enter task" name="text">{{ task.text }}</textarea>
          <input type="datetime-local" id="reminderDatetime" name="reminderDatetime" value="{{ task.reminderDatetime }}"  required > <!--min="{{ mindatetime }}"--> 
          <button type="submit" id="saveBt">SAVE</button>
        </form>
        
        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{ task.id }}">
            <button type="submit" id="deleteBt">DELETE</button>
        </form>
       
    </div>
  </section>
</body>
</html>