<!DOCTYPE html>
<html>
<head>
  <title>Edit Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styleTask.css') }}">
</head>
<body id="taskbody">
  <section id="section" class="gjs-section">
    <div id="taskContainer" class="gjs-container">
        
        <form action="/save" method="POST">
          <input type="hidden" name="id" value="{{ task.id }}">
          
          <input type="checkbox" id="checkBox" name="done" value="True" {% if task.done %} checked {% endif %}/>
          
          <textarea placeholder="Enter task" name="text">{{ task.text }}</textarea>
          
          <button type="submit" id="saveBt">SAVE</button>
        </form>
        
        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{ task.id }}">
            <button type="submit" id="deleteBt">DELETE</button>
        </form>
       
    </div>
  </section>
</body>
</html>